

<app-header [back]="true"></app-header>

<div class="wrap fb">

  <div class="card_ct">
    <div class="card_main">
      <app-track-time [track]="track"
        *ngIf="track.kind == 'time'"></app-track-time>
      <app-track-counter
        *ngIf="track.kind == 'counter'"
        [track]="track"></app-track-counter>
    </div>
  </div>

  <div class="stats card table" *ngIf="track.kind == 'counter'">
    <p>TODAY <span>{{ track.today }}</span></p>
    <p>YESTERDAY <span>{{ track.yesterday }}</span></p>
    <p>WEEK <span>{{ track.week }}</span></p>
  </div>

  <div class="stats card" *ngIf="track.kind == 'time'">
    <p>TODAY <span>{{ track.today | timesince }}</span></p>
    <p>YESTERDAY <span>{{ track.yesterday | timesince }}</span></p>
    <p>WEEK <span>{{ track.week | timesince }}</span></p>
  </div>

  <div class="stats card" *ngIf="track && track.weekStats.length>0">
  <app-track-stats
    [track]="track"
    [stats]="track.weekStats"></app-track-stats>
  </div>

  <div class="stats card center" *ngIf="track.weekStats.length>0">
    <h3>Export this track to Google Sheets</h3>
    <button *ngIf="gauth.authState == 'success'">Export</button>
    <button *ngIf="gauth.authState == 'notlogged'">Login</button>

  </div>

  <div class="stats card table"
    *ngIf="track.kind == 'time' && track.weekStats.length>0">
    <h3>Latest 10 entries</h3>
    <p *ngFor="let item of table; trackBy:trackFunc">
      {{ item.started | date:"y/M/d H:mm" }}
      <span>{{ item.amount | timesince }}</span>
    </p>
  </div>

  <div class="stats card table"
    *ngIf="track.kind == 'counter' && track.weekStats.length>0">
    <h3>Latest 10 entries</h3>
    <p *ngFor="let item of table; trackBy:trackFunc">
      {{ item.time | date:"y/M/d H:mm" }}
      <span>{{ item.amount }}</span>
    </p>
  </div>



</div>
