<app-header></app-header>

<div class="wrap fb">
  <div class="card intro">
    <h2>START TRACKING</h2>
    <hr />
    <div class="item">
      <img src="assets/timer.svg" width="50" />
      <p>Track time spent doing things</p>
    </div>
    <div class="item">
      <img src="assets/counter.svg" width="50" />
      <p>Count events</p>
    </div>
  </div>
</div>

<app-fab background="#fff">
    <img src="assets/plus.svg" width="20" />
</app-fab>


<h1>
  {{title}}

  <button
    (click)="store.dispatch({type:'TRACK_ADD'})">
  ADD TRACK
  </button>


</h1>
