:host {

  background-color: currentColor;
  border-radius: 0px 0px 10vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

h1 {
  box-sizing: border-box;
  color: #fff;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: normal;
}

img {
  margin-top: 20px;
  width: 25vw;
}

