:host {
  display: block;
  background-color: currentColor;
  border-radius: 0px 0px 10vw 10vw;
  height: 120px;
  position: relative;
}

h1 {
  box-sizing: border-box;
  color: #fff;
  padding-top: 20px;
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
}

img {
  margin-top: 20px;
  width: 25vw;
}


.back {
  position: absolute;

  top: 5px;
  left: 10px;

  img {
    width: 32px;
  }
}
