:host {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 105px;
}

.icon {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0px;
  top: 0px;
}

h3 {
  position: absolute;
  margin-top: 0px;
  text-transform: uppercase;
  color: #225378;
}

app-track-clock {

  position: absolute;
  top: 38px;
  right: 0px;
  font-size: 40px;
  color: #225378;

  &.today {
    font-size: 1em;
    top: 85px;
    color: #1695a3;
  }

}

.record {

  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 28px;
  left: 0px;
  background-color: #acf0f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  app-record-button {
    display: block;
    width: 50%;
    height: 50%;
  }

}

.record-start {
  width: 60px;
  text-align:center;
  position: absolute;
  top: 75px;
  left: 0px;
  font-size: 0.8em;
}


