/* You can add global styles to this file, and also import other style files */


@import 'scss/normalizer';

$background: #bdd0d2;
$black: #225378;
$initial: #1695a3;
$initial10: #acf0f2;
$white: #fff;

html {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
  background-color: $background;
}

body, div {
  box-sizing: border-box;
}

body {
  color: $initial;
  font-family: -apple-system, "Roboto", "Helvetica Neue", sans-serif;
  margin: 0px;
  position:relative;
  height: 100vh;

}

h1,h2,h3,h4 {
  font-weight: normal;
  margin-bottom: 0px;
}


app-fab {
  position: absolute;
  top: 88vh;
  right: 5%;
  z-index: 1000;
}


.fb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 100%;
  margin-top: -40px;

}

hr {
  border-bottom: 2px solid currentColor;
  width: 80%;
  opacity: 0.8;
}

/* Base for card */
.card {

  display: block;
  width: 96%;
  min-height: 100px;
  border-radius: 15px;
  background-color: $white;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;

  &.intro {
    width: 90%;
    text-align:center;
    margin-top: 20px;
  }

}

.item {

  color: $black;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    width: 120px;
    margin-left: 25px;
  }

  &:last-child {
    margin-bottom: 30px;
  }

}

/* Card item */
.full {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.card_ct {
  @extend .card;
  overflow: hidden;
  background-color: $initial;
  padding: 0;
  position: relative;
  height: 125px;
  z-index: 50;
}

.card_main {
  border-radius: 15px;
  @extend .full;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  background-color: $white;
  padding: 10px 20px 10px 20px;
}

.card_down {
  @extend .full;
  z-index: 9;

  &.delete {
    border-radius: 15px;
    background-color:#932222;
    color: #fff;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
  }

}




app-track-time, app-track-counter {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 105px;
}

.card_icon {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0px;
  top: 0px;
}


h3.card_title {
  position: absolute;
  margin-top: 0px;
  text-transform: uppercase;
  color: $black;
}

.record {
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 28px;
  left: 0px;
  background-color: $initial10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .btn {
    display: block;
    width: 50%;
    height: 50%;
  }

  .btn_small {
    display: block;
    width: 40%;
    height: 40%;
  }

}

.amount {

  position: absolute;
  top: 38px;
  right: 0px;
  font-size: 40px;
  color: $black;

  &.today {
    font-size: 1em;
    top: 85px;
    color: $initial;
    right: 2px;
  }

}

.record-start {
  width: 60px;
  text-align:center;
  position: absolute;
  top: 75px;
  left: 0px;
  font-size: 0.8em;
}
